// variable assignment doesn't seem to work

template(name='navbar')
    header
        h1 {{title}}
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse'
              , data-target='#navbar'
              , aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            // each loop requires js helper, value gets assigned to unknown text
            each arr3
              span.icon-bar
          a.navbar-brand(href='/') Product Info
          +loginButtons
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href='/') Home
            li: a(href='market') Market
            li: a(href='git') Github


template(name='main')
  br
  +dashboard
  +addamzn

template(name='trade')
  +navbar
  br
  br
  br
  .row
    .col-sm-8
      p.lead
        ul.list-group
          li.list-group-item
            | #{name}
          li.list-group-item
            | #{size}
          li.list-group-item
            | #{_id}
          li.list-group-item
            | #{size}
  br
  +if currentUser
    +orderinput
  #{else}
    | sign in to trade
  +orders

template(name='orderinput')
  .input-group
    span.input-group-addon price
    input.form-control#tb_order_price(type='text', aria-describedby='basic-addon2'
      , value='0.00')
  .input-group
    span.input-group-addon location
    input.form-control#tb_order_location(type='text', aria-describedby='basic-addon2'
      , value='near')
  .input-group
    span.input-group-addon date and time
    input.form-control#tb_order_time(type='text', aria-describedby='basic-addon2'
      , value='on')
  .input-group
    span.input-group-addon productid
    input.form-control#tb_order_productid(type='text', aria-describedby='basic-addon2'
      , value='#{_id}')
  button.btn-danger#bt_sell Sell
  button.btn-info#bt_buy Buy

template(name='addamzn')
  h3 Add Product
  .input-group
    span.input-group-btn
      button.btn.btn-default#bt_amzn(type='button')  Amazon URL
    input.form-control#tb_amzn(type='text', aria-describedby='basic-addon2'
      , value='#{amznUrl}')
  .input-group
    span.input-group-addon root
    input.form-control#tb_amzn_root(type='text', aria-describedby='basic-addon1'
      , value='#{amznRoot}')
  .input-group
    span.input-group-addon name
    input.form-control#tb_amzn_name(type='text', aria-describedby='basic-addon1'
      , value='#{amznName}')
    span.input-group-addon img
    input.form-control#tb_amzn_imgsrc(type='text', aria-describedby='basic-addon1'
      , value='#{amznimgsrc}')
  .input-group
    span.input-group-addon dataroot
    input.form-control#tb_amzn_dataroot(type='text', aria-describedby='basic-addon1'
    , value='#{amznDataroot}')
  .input-group
    span.input-group-addon header
    input.form-control#tb_amzn_header(type='text', aria-describedby='basic-addon1'
    , value='#{amznHeader}')
    span.input-group-addon data
    input.form-control#tb_amzn_data(type='text', aria-describedby='basic-addon1'
    , value='#{amznData}')

  button.btn-success#bt_addamzn Add to DB
  
  p.lead
    ul.list-group
      li.list-group-item
        button.btn.btn-primary(type='button') Name 
          span.badge #{nameCount}
        | #{name}

      li.list-group-item
        button.btn.btn-primary(type='button') Details: 
          span.badge #{detailsCount}
        | #{header}
      li.list-group-item
        | #{data}
      li.list-group-item
        img(src='#{imgsrc}')